/* Importing all stylesheets */

@import url("content.css");
@import url("effects.css");
@import url("footer.css");
@import url("header.css");
@import url("images.css");

/* Fonts and fonts styles declaration */
@font-face {
    font-family: YanoneRegular;
    src: url("../fonts/YanoneKaffeesatzTTF/YanoneKaffeesatz-Regular.ttf");
}

.regular {
    font-family: YanoneRegular;
}

@font-face {
    font-family: YanoneBold;
    src: url("../fonts/YanoneKaffeesatzTTF/YanoneKaffeesatz-Bold.ttf");
}

.bold {
    font-family: YanoneBold;
}

@font-face {
    font-family: YanoneLight;
    src: url("../fonts/YanoneKaffeesatzTTF/YanoneKaffeesatz-Light.ttf");
}

.light {
    font-family: YanoneLight;
}

@font-face {
    font-family: YanoneThin;
    src: url("../fonts/YanoneKaffeesatzTTF/YanoneKaffeesatz-Thin.ttf");
}

.thin {
    font-family: YanoneThin;
}

/* General styles */

* {
    font-family: YanoneRegular;
}

body {
    margin: 0;
    padding: 0;
}
